<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
            integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
            crossorigin="anonymous">

        <title>multiple-choice quiz form</title>
        <style>
            body {background-color: whitesmoke;}
            h1   {color: darkslategray;}
            p    {color: black;}

            body {
                background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/topography.png);
            }

        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Social Media Predictor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/survey">Take the Survey</a>
                    <a class="nav-item nav-link" href="/about">About</a>
                </div>
            </div>
        </nav>



        <div class="container">
            <div class="row d-flex justify-content-center"> 
                <div class="col-sm-7 " >
                    <h1 class="display-4 mt-5 d-flex justify-content-center">Welcome</h1>
                    <br>
                    

                        <p class="lead">
                            Welcome to the <b>Social Media Predictor</b>, this is an experiment. You are about to embark on a probability journey
                            to find out if our model can predict your social media platform preferences. Once you finish the survey, you will get a prediction on whether or not you are a
                            user of Facebook, Instagram, Twitter or YouTube.
                            <br>
                            <br>
                            For this project the data used to train our 
                            models came from the <b>PEW Research Center</b>, specifically,
                            from the <b>Core Trends Survey 2018</b>. The survey questions are emulated from the original questionnaire.
                            <br>
                            <br>
                            Now, for the fun part, give it a try!
                            <br>
                            <br>

                            <!-- The purpose of this project is two-fold. The first one is simply <b>Food for Thought</b>. Have you 
                            stopped to think how the way we communicate is constantly evolving and changing over time? Around
                            2.6 billion people around the world use social media, we are able to connect to anyone, anywhere at any time.
                            We have gone from being 'listeners' from the time the radio first broadcasted, to 'watchers' from when
                            television began showing moving pictures in two and three dimensions, to being 'creators' and content
                            generators through social media. We are active participants of media, we have the power to shape what 
                            people see and absorb. 

                            The second purpose is to learn. When we think about evolution, we know that to adapt to changes in the
                            environment we must learn and understand. By studying what makes people choose a certain form of communication
                            we can adapt our strategies in life. So, thank you for participating, you have contributed to science, hope
                            you had a good experience! -->
                            
                        </p>


                        <br>
                        <form action="/survey">
                            <button type="submit" class="btn btn-dark btn-lg
                            btn-block">Take the Survey, let's predict!</button>
                        </form>
 

             
                </div>
            </div>
        </div>

    </body>
</html>